@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Rubik:200,300,400,500,600');

body {
    margin: 0;

    --divider-color: #ddd;
    --divider-radius: 2px;
    --light-shadow-color: #eee;
    --dark-shadow-color: #aaa;
    --accent-color: #6c5bfd;
    --caption-color: #777;
    --caption-font-size: 14px;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;

    background: #eee;
    width: 100%;
    height: 100%;

    font-family: "Rubik", Arial, sans-serif;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    width: 100%;

    background: #fff;
    box-shadow: 0 1px var(--light-shadow-color);
}

.header__logo {
    font-family: "Open Sans Condensed", Arial, sans-serif;
    font-size: 28px;

    flex-grow: 2;

    padding: 8px;
    margin: 8px 16px;
}

.header__balance {
    font-size: 20px;

    padding: 8px;
    margin: 8px 16px;
}

.header__user {
    padding: 8px;
    margin: 8px 16px;
}

.page-layout {
    margin: 20px 0 20px 70px;

    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.island {
    width: 560px;

    box-shadow: 0 0 1px var(--light-shadow-color);
}

.top-corners,
.bottom-corners {
    display: block;
}

.island-header__title {
    display: inline-block;

    font-weight: 400;
    font-size: 24px;

    width: 100%;

    margin: 16px 20px 16px 0;
}

.hr_horisontal {
    width: 100%;
    height: 1px;

    background: var(--divider-color);
}

.hr_horisontal_stripes {
    display: block;
}

.hr_vertical {
    width: 1px;
    height: 100%;

    background: var(--divider-color);
}

.island-section {
    overflow: auto;

    padding: 0 20px;

    background: #fff;
}

.island__first-section {
    padding-top: 24px;
}

.island-section__header {
    font-weight: 400;
    font-size: 20px;

    margin: 4px 0 12px;
}

.transaction-offered {
    margin: 14px 0 20px;

    width: 100%;
    height: 50px;

    border: 1px solid var(--divider-color);
    border-radius: var(--divider-radius);

    background-image: url('./transaction-offered/transaction-offered__background.png');
    background-size: cover;
}

.transaction-ammount-limit {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.transaction-ammount-limit__title-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 12px 0;

    color: var(--caption-color);
    font-size: var(--caption-font-size);
}

.transaction-ammount-limit__bar {
    height: 8px;

    border: 1px solid var(--divider-color);
    border-radius: var(--divider-radius);
}

.transaction-ammount-limit__bar__progress {
    width: 40%;
    height: 8px;

    background: var(--accent-color);

    border-radius: 1px 0 0 1px;
}

.transaction-ammount-selector {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 16px 0;
}

.transaction-ammount-selector__ammount {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    flex-grow: 2;

    width: 100%;
    height: 50px;

    border: 1px solid var(--divider-color);
    border-radius: var(--divider-radius);
}

.transaction-ammount-selector__ammount-input {
    flex-grow: 2;

    margin: 0;
    padding: 0 0 0 16px;

    border: 0;

    height: 100%;
    width: 50px;

    font-size: 16px;

    -moz-appearance: textfield;
}

.transaction-ammount-selector__ammount-input:focus {
    outline-width: 0;
}

.transaction-ammount-selector__ammount-input::-webkit-outer-spin-button,
.transaction-ammount-selector__ammount-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.transaction-ammount-selector__currency {
    color: #aaa;
    margin: 0 16px;
}

.transaction-ammount-selector__swap {
    padding: 8px 16px;
}

.summary {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.wait-time  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

    height: 60px;

    padding: 20px 0 12px;
}

.wait-time__time {
    display: block;

    font-weight: 500;
    font-size: 20px;
}

.wait-time__description {
    color: var(--caption-color);
    font-size: var(--caption-font-size);
}

.receipt {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    flex-grow: 2;

    padding: 0 0 16px;

    width: 68%;
}

.receipt__term {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin: 4px 0;
}

.receipt__term__ammount {
    font-size: 20px;
}

.receipt__term__description {
    color: var(--caption-color);
    font-size: var(--caption-font-size);
}

.receipt__term_highlited {
    font-weight: 500;
}

.receipt__operator {
    color: var(--caption-color);

    font-size: 24px;
}

.commit-button {
    margin: 20px 0;

    width: 100%;
    height: 50px;

    background: var(--accent-color);

    box-shadow: 0 1px 10px var(--dark-shadow-color);
    border-radius: var(--divider-radius);
    border: 0;
}

.commit-button:focus {
    outline-width: 0;
}

.commit-button:active {
    box-shadow: 0 0;
}

.commit-button__title {
    margin: auto;

    text-align: center;

    font-size: 14px;
    color: #fff;
}